.form {
  width: 100vh;
  height: 95vh;
  box-sizing: border-box;
  margin: 0;
  align-items: center;

  background-color: rgb(174, 210, 151);
  border-radius: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.formFunc {
  display: flex;
  width: 100%;
}
